In [3]:
people = {
    "first": ['Lukasz','John','Jane'],
    "last": ['Kamrowski','Doe','Doe'],
    "email": ['Lukasz310@gmail.com','John.Doe@email.com','Jane.Doe@email.com']
}

In [4]:
people['email']

['Lukasz310@gmail.com', 'John.Doe@email.com', 'Jane.Doe@email.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

    first       last                email
0  Lukasz  Kamrowski  Lukasz310@gmail.com
1    John        Doe   John.Doe@email.com
2    Jane        Doe   Jane.Doe@email.com

In [8]:
df.iloc[0]

first                 Lukasz
last               Kamrowski
email    Lukasz310@gmail.com
Name: 0, dtype: object

In [9]:
df.loc[0]

first                 Lukasz
last               Kamrowski
email    Lukasz310@gmail.com
Name: 0, dtype: object

In [10]:
df.iloc[[0,2]]

    first       last                email
0  Lukasz  Kamrowski  Lukasz310@gmail.com
2    Jane        Doe   Jane.Doe@email.com

In [11]:
df.loc[[0,2]]

    first       last                email
0  Lukasz  Kamrowski  Lukasz310@gmail.com
2    Jane        Doe   Jane.Doe@email.com

In [12]:
df.iloc[[0,2], [2]]

                 email
0  Lukasz310@gmail.com
2   Jane.Doe@email.com

In [13]:
df.loc[[0,2], 'email']

0    Lukasz310@gmail.com
2     Jane.Doe@email.com
Name: email, dtype: object

In [14]:
df[]'last' == 'Doe'

SyntaxError: invalid syntax (<ipython-input-14-96364e48fd88>, line 1)

In [23]:
filt = (df['last'] == 'Kamrowski') | (df['first'] == 'John')

In [25]:
df.loc[~filt, 'email']

2    Jane.Doe@email.com
Name: email, dtype: object