In [2]:
people = {
    "first": ['Lukasz','John','Jane'],
    "last": ['Kamrowski','Doe','Doe'],
    "email": ['Lukasz310@gmail.com','John.Doe@email.com','Jane.Doe@email.com']
}

In [3]:
people['email']

['Lukasz310@gmail.com', 'John.Doe@email.com', 'Jane.Doe@email.com']

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(people)

In [6]:
df

    first       last                email
0  Lukasz  Kamrowski  Lukasz310@gmail.com
1    John        Doe   John.Doe@email.com
2    Jane        Doe   Jane.Doe@email.com

In [12]:
df.iloc[0]

first                 Lukasz
last               Kamrowski
email    Lukasz310@gmail.com
Name: 0, dtype: object

In [14]:
df.loc[0]

first                 Lukasz
last               Kamrowski
email    Lukasz310@gmail.com
Name: 0, dtype: object

In [15]:
df.iloc[[0,2]]

    first       last                email
0  Lukasz  Kamrowski  Lukasz310@gmail.com
2    Jane        Doe   Jane.Doe@email.com

In [16]:
df.loc[[0,2]]

    first       last                email
0  Lukasz  Kamrowski  Lukasz310@gmail.com
2    Jane        Doe   Jane.Doe@email.com

In [18]:
df.iloc[[0,2], [2]]

                 email
0  Lukasz310@gmail.com
2   Jane.Doe@email.com

In [19]:
df.loc[[0,2], 'email']

0    Lukasz310@gmail.com
2     Jane.Doe@email.com
Name: email, dtype: object